.emailstyle {
  display: block;
  margin: auto;
  width: 80%;
}
p {
  font-family: 'Courier New', monospace;
  font-size: 20px;
}
a {
  font-family: 'Courier New', monospace;
  font-size: 20px;
}
a:link { color: darkgreen; text-decoration: none; }
a:visited { color: darkred; }
