.header {
    border: 5px black;
    border-style: solid;
    margin: 25px 50px;
    background-color: paleturquoise;
}
.post {
    border: 5px black;
    border-style: solid;
    margin: 25px 50px;
    background-color: lightcyan;
}
.username {
    color: black;
    font-weight: bold;
}
.timestamp {
    color: grey;
    font-weight: lighter;
}
a {
    color: black;
}
.followers {
    font-weight: bold;
}
.following {
    font-weight: bold;
}
img {
    border: 5px darkturquoise;
    border-style: solid;
}